<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- iconscout cdn path -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <!-- CSS File Link -->
   <link rel="stylesheet" href="/assets/style1.css">
</head>
<body>
   <div class="sidebar" id="sidebar">
      <div class="logo">
         <a href="/homeDigitalMedical">
            <h3>
               <i class="uil uil-hospital" routerLink="/homeDigitalMedical"></i>
               Clinique NAR
            </h3>
         </a>
      </div>

      <div class="sidebar-menu">
         <ul>
            <li style=" background-color: #006eff;" routerLink="/homeDigitalMedical">
                <i style="color: #FFFF;" class="uil uil-dashboard"></i>
                <span style="color: #FFFF;">Tableau de bord</span>
             </li>
            <li class="active" routerLink="/rendezVous">
                <i style="color: #006eff;" class="uil uil-clipboard-notes"></i>
                <span style="color: #006eff;">Rendez-vous</span>
            </li>
            <li routerLink="/operations">
               <i class="icofont-folder-open"></i>
                <span>Dossiers Médicaux</span>
            </li>
            <li routerLink="/secretaires">
               <i class="uil uil-user-nurse"></i>
              <span>Secrétaire médical</span>
           </li>
           <li routerLink="/medecins">
            <i class="icofont-doctor"></i>
               <span >Médecins</span>
            </li>
            <li routerLink="/patients">
               <i  class="uil uil-accessible-icon-alt"></i>
               <span >Patients</span>
            </li>
            <li routerLink="/allDepartements">
                <i class="uil uil-medical-square-full"></i>
               <span>Départements</span>
            </li>       
            <li routerLink="/profileAD">
               <i class="icofont-user-suited"></i>
               <span>Mon Profil</span>
            </li>
            <li (click)="logout()">
               <i class="uil uil-signin"></i>
               <span>Déconnexion</span>
            </li>
         </ul>
      </div>
   </div>

   <div class="main-content" id="main-content">
      <header class="flex">
         <h2>
            <i class="uil uil-clipboard-notes" id="menu-icon"></i>
            Rendez-vous
         </h2>
         <div class="admin-box flex" >
            <img src={{imagePath}} width="30px" height="30px">
            <div>
               <h2>{{nomPrenomAdmin}}</h2>
               <small style="margin-left: 60px;">Administrateur Supérieur </small>
            </div>
         </div>
      </header>

      <main>
        <!-- tableau d'operations -->
        <div class="wrapper flex" *ngIf="service.testRV !== 0 ; else tabVide">
         <div class="operations">
            <div class="card-header flex">
               <h3>Rendez-vous réservé</h3>
               <div class="search-box">
                  <i class="uil uil-search"></i>
                  <input [(ngModel)]="texteee"  type="text" placeholder="recherche ici ...">
               </div>
            </div>
            <table class="table" >
               <thead>
                 <tr>
                   <th scope="col">#</th>
                   <th scope="col">Data RV </th>
                   <th scope="col">Nom Patient </th>
                   <th scope="col">Prénom Patient </th>
                   <th scope="col">genre</th>
                   <th scope="col">Télephone</th>
                   <th scope="col">Département</th>
                   <th scope="col">Actions</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor ="let rv of service.RVData ;let i = index">
                  <td> {{i+1}}</td>
                  <td>{{formatDate(rv.dateRdv)}} </td>
                   <td>&nbsp;&nbsp;{{rv.patientRV.nom}} </td>
                   <td>&nbsp;&nbsp;{{rv.patientRV.prenom}}</td>
                   <td>{{rv.patientRV.gender}} </td>
                   <td>{{rv.patientRV.telephone}} </td>
                   <td>{{rv.medecinRV.specialite.nom}} </td>
                   <td>
                     &nbsp;&nbsp;&nbsp;<img src="/assets/icons/delete.png" class="icon" width="30px" height="30px" (click)="supprimer(rv.idRV)">
                   </td>
                 </tr>
               </tbody>
             </table>
             

         </div>

    
      </div>
   <ng-template #tabVide >
      <div class="imageNotFound">
         <img src="/assets/AdminDigital/assets/img/1234.png">
         <h4 class="alignemennt"><br>Pas des Rendez-vous Réservées pour le moment</h4>
      </div>
     
   </ng-template> 

      </main>
   </div>

</body>
</html>