<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maps.googleapis.com/maps/api/js?key=VOTRE_CLE_API&callback=initMap" async defer></script>
</head>
<body>

<div class="preloader">
  <div class="loader">
      <div class="loader-outter"></div>
      <div class="loader-inner"></div>

      <div class="indicator"> 
          <svg width="16px" height="12px">
              <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
              <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
          </svg>
      </div>
  </div>
</div>
<header class="header" >
  <!-- Topbar -->
  <div class="topbar">
  <div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-5 col-12">
      <!-- Contact -->
      <ul class="top-link">
        <li><a  href="/aboutUs" >À propos de nous</a></li>
        <li><a  href="/p_medecin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>MB </u></a></li>
        <li><a  href="/p_patient">&nbsp;&nbsp;&nbsp;<u>BMW </u></a></li>
        <li><a  href="/p_patient">&nbsp;&nbsp;&nbsp;<u> </u></a></li>
        <li><a  href="/secretaire">&nbsp;&nbsp;&nbsp;<u>Admin </u></a></li>
       </ul>
      <!-- End Contact -->
    </div>
    <div class="col-lg-6 col-md-7 col-12">
      <!-- Top Contact -->
      <ul class="top-contact">
        <li><i class="fa fa-phone"></i>+216 28 991 297</li>
        <li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">Nada.derbel&#64;leoni.com</a></li>
        <li><a  href="/admin"><img src="/assets/img/parametres.png" width="30px" height="30px" ></a></li>
      <!-- <li style="margin-right: -100px;margin-top: -25px;"><img src="/assets/img/adminHome.jpg" routerLink="/admin" width="100px" height="100px"></li> -->

      </ul>
      <!-- End Top Contact -->
    </div>
  </div>
  </div>
  </div>
  <!-- End Topbar -->
  
  <!-- Header Inner -->
  <div class="header-inner">
  <div class="container">
  <div class="inner">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-12">
        <!-- Start Logo -->
        <div class="logo" width="400px">
          <a href="index.html">
            <img src="/assets/img/leoni.png" >
            
         </a>
        </div>
        <!-- End Logo -->
        <!-- Mobile Nav -->
        <div class="mobile-nav"></div>
        <!-- End Mobile Nav -->
      </div>
      <div class="col-lg-7 col-md-9 col-12">
        <!-- Main Menu -->
        <div class="main-menu">
          <nav class="navigation">
            <ul class="nav menu">
              <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            
              <li class="active"><a  href="/contact"> Contactez-nous</a></li>
            </ul>
          </nav>
        </div>
        <!--/ End Main Menu -->
      </div>
      
    </div>
  </div>
  </div>
  </div>
  <!--/ End Header Inner -->
  </header>
    
    
    <div class="breadcrumbs overlay">
    <div class="container">
    <div class="bread-inner">
    <div class="row">
    <div class="col-12">
    <h2>Contactez-nous</h2>
    <ul class="bread-list">
    <li><a href="index.html">Accueil</a></li>
    <li><i class="icofont-simple-right"></i></li>
    <li class="active">Contactez-nous</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <section class="contact-us section">
    <div class="container">
    <div class="inner">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-us-left">
        
       <!--  Mappppp-->
       <img src ="/assets/img/local.jpg" style="height:550px;">
      </div>
        </div>
    <div class="col-lg-6">
    <div class="contact-us-form">
    <h2>En contact avec nous</h2>
    <p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>
    
    <form class="form" method="post" action="mail/mail.php">
    <div class="row">
    <div class="col-lg-6">
    <div class="form-group">
    <input type="text" name="name" placeholder="Nom Prenom" required>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <input type="email" name="email" placeholder="Email" required>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <input type="text" name="phone" placeholder="Télephone" required>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <input type="text" name="subject" placeholder="Sujet" required>
    </div>
    </div>
    <div class="col-lg-12">
    <div class="form-group">
    <textarea name="message" placeholder="Votre message" required></textarea>
    </div>
    </div>
    <div class="col-12">
    <div class="form-group login-btn">
    <button class="btn" type="submit">Envoyer</button>
    </div>
   
    </div>
    </div>
    </form>
    
    </div>
    </div>
    </div>
    </div>
    <div class="contact-info">
    <div class="row">
    
    <div class="col-lg-4 col-12 ">
    <div class="single-info">
    <i class="icofont icofont-ui-call"></i>
    <div class="content">
    <h3>+(216) +216 28 991 297 </h3>
    <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c9a0a7afa689aaa6a4b9a8a7b0e7aaa6a4">Nada.derbel&#64;leoni.com</a></p>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-12 ">
    <div class="single-info">
    <i class="icofont-google-map"></i>
    <div class="content">
    <h3>Zone Industrielle Messaadine Route de MSaken ,Sousse</h3>
   
    </div>
    </div>
    </div>
    
    
    <div class="col-lg-4 col-12 ">
    <div class="single-info">
    <i class="icofont icofont-wall-clock"></i>
    <div class="content">
    <h3>Lundi -  Vendredi <br> 05.00 - 22.00</h3>

    </div>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </section>
    
  
  </body>
  </html>
  