<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- iconscout cdn path -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <!-- CSS File Link -->
   <link rel="stylesheet" href="/assets/style1.css">
</head>
<body>
   <div class="sidebar" id="sidebar">
      <div class="logo">
         <h3>
            <i class="uil uil-hospital"></i>
            Clinique NAR
         </h3>
      </div>

      <div class="sidebar-menu">
         <ul>
            <li style=" background-color: #006eff;" routerLink="/homeMedecin">
                <i style="color: #FFFF;" class="uil uil-dashboard"></i>
                <span style="color: #FFFF;">&nbsp;Tableau de bord</span>
             </li>
           <li  routerLink="/viewMedecin">
              <i class="icofont-doctor"></i>
             <span >&nbsp;Médecins</span>
          </li>
           <li routerLink="/view-patient">
               <i class="uil uil-accessible-icon-alt"></i>
              <span>&nbsp;Patients</span>
           </li>      
           <li  routerLink="/viewDossier">
                 <i  class="uil-clipboard-notes"></i>
              <span>&nbsp;Dossier Medicale</span>
           </li>
           <li class="active" routerLink="/view-plage">
                 <i style="color: #006eff;" class="uil uil-calendar-alt"></i>
              <span style="color: #006eff;">&nbsp;Plage Horraire</span>
           </li>
           <li routerLink="/medecinProfile">
            <i class="icofont-user-suited"></i>
         <span>&nbsp;Mon profil</span>
      </li>
           <li (click)="logout()">
              <i class="uil uil-signin"></i>
              <span>&nbsp;Déconnexion</span>
           </li>
         </ul>
      </div>
   </div>

   <div class="main-content" id="main-content">
      <header class="flex">
         <h2>
            <i class="uil uil-calendar-alt" id="menu-icon"></i>
            Plage Horraire 
         </h2>
         <div class="admin-box flex" >
            <img src={{imagePath}} width="30px" height="30px">
            <div>
               <h2>{{nomPrenomMedecin}}</h2>
               <small style="margin-left: 14px;"> Specialité : {{ medecin.specialite.nom}}</small>
            </div>
         </div>
      </header>

      <main>
        
         <div class="customers">
            <div class="card-header flex">
               <h3>Liste de Activités </h3>
               <div class="search-box">
                  <i class="uil uil-search"></i>
                  <input [(ngModel)]="texte"  type="text" placeholder="recherche ici ...">
               </div>
               <button data-toggle="modal" data-target="#infos" class="btn btn-secondary">Ajouter 
               </button>
            </div>
               <div class="card-header flex">
                  
                  <div class="modal" id="infos">
                     <div class="modal-dialog modal-lg">
                       <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title">Ajouter Plage Horraire</h4>
                   </div>
                   <div class="modal-body">
                     <form #taskForm="ngForm" >
                        <div class="row">
                        <label>Nom de la tâche:</label>
                        <input type="text" name="nom" ngModel required #nom="ngModel">
                      
                        <label>Durée:</label>
                        <input type="text" name="duree" ngModel required #duree="ngModel">
                      </div>
                      <div class="row">
                        <label>Date de début:</label>
                        <input type="date" name="heureDebut" ngModel required #heureDebut="ngModel">
                        <label>Date de Fin:</label>
                        <input type="date" name="heureFin" ngModel required #heureFin="ngModel">
                        </div>
                        <div class="modal-footer">
                           <div class="row">
                           <div class="col-12">
                           <div class="form-group">
                           <div class="button">
                              
                        <button type="submit" (click)="addTask(taskForm)" >Ajouter</button>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                      </form>
                      </div>
                     </div>
                   </div>
                   </div>
                   
                  
                  <table class="gantt-chart">
                     <thead>
                       <tr>
                         <th>Tâche</th>
                         <th>Durée</th>
                         <th>Date de début</th>
                         <th>Date de fin</th>
                         <th>Actions</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let task of plages">
                    
                         <td>{{ task.nom }}</td>
                         <td>{{ task.duree }}</td>
                         <td>{{ formatDate(task.heureDebut)}}</td>
                         <td>{{ formatDate(task.heureFin)}}</td>
                         <td>
                           <img src="/assets/icons/eye.png" class="icon" width="30px" height="30px">
                            <!--<img src="/assets/icons/edit.png" class="icon" width="30px" height="30px" 
                            data-toggle="modal" data-target="#modifier"  >
                            !-->
                           
                            <img src="/assets/icons/delete.png" class="icon" width="30px" height="30px" (click)="supprimer(task.idPlage)">
                          </td>
                       </tr>
                     </tbody>
                   </table>
                   
        
                 </div>
                 </div>

            </main>
   </div>
   <div class="modal" id="modifier">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
   <div class="modal-header">
      <h4 class="modal-title">Modifier Plage Horraire</h4>
    </div>
    <div class="modal-body">
      <form #task1Form=ngForm>
         <div class="row">
           <label>Nom de la tâche:</label>
           <input type="text" name="nom" [(ngModel)]="user.nom" ngModel required #nom="ngModel">
          
           <label>Durée:</label>
           <input type="text" name="duree" [(ngModel)]="user.duree" ngModel required #duree="ngModel">
         </div>
         <div class="row">
           <label>Date de début:</label>
           <input type="date" name="heureDebut" [(ngModel)]="user.heureDebut" ngModel required #heureDebut="ngModel">
           <label>Date de Fin:</label>
           <input type="date" name="heureFin" [(ngModel)]="user.heureFin" ngModel required #heureFin="ngModel">
         </div>
         <div class="modal-footer">
            <div class="row">
            <div class="col-12">
            <div class="form-group">
            <div class="button">
               
         <button type="submit" (click)="modifier(task1Form)">Modifier</button>
         </div>
         </div>
         </div>
         </div>
         </div>
       </form>
       </div>
      </div>
    </div>
    </div>


</body>
</html>
