<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- iconscout cdn path -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <!-- CSS File Link -->
   <link rel="stylesheet" href="/assets/style1.css">
</head>
<body>
   <div class="sidebar" id="sidebar">
      <div class="logo">
         <h3>
            <i class="uil uil-hospital"></i>
            Clinique NAR
         </h3>
      </div>

      <div class="sidebar-menu">
         <ul>
            <li style=" background-color: #006eff;" routerLink="/homeMedecin">
               <i style="color: #FFFF;" class="uil uil-dashboard"></i>
               <span style="color: #FFFF;">&nbsp;Tableau de bord</span>
            </li>
            <li  routerLink="/viewMedecin">
               <i class="icofont-doctor"></i>
              <span >&nbsp;Médecins</span>
           </li>
            <li class="active" routerLink="/view-patient">
                <i  style="color: #006eff;"  class="uil uil-accessible-icon-alt"></i>
               <span style="color: #006eff;">&nbsp;Patients</span>
            </li>      
            <li routerLink="/viewDossier">
                  <i class="uil-clipboard-notes"></i>
               <span>&nbsp;Dossier Medicale</span>
            </li>
            <li routerLink="/view-plage">
                  <i class="uil uil-calendar-alt"></i>
               <span>&nbsp;Plage Horraire</span>
            </li>
            <li routerLink="/medecinProfile">
               <i class="icofont-user-suited"></i>
            <span>&nbsp;Mon profil</span>
         </li>
            <li (click)="logout()">
               <i class="uil uil-signin"></i>
               <span>&nbsp;Déconnexion</span>
            </li>
         </ul>
      </div>
   </div>

   <div class="main-content" id="main-content">
      <header class="flex">
         <h2>
            <i class="uil uil-accessible-icon-alt" id="menu-icon"></i>
             Patients 
         </h2>
         <div class="admin-box flex" >
            <img src={{imagePath}} width="30px" height="30px">
            <div>
               <h2>{{nomPrenomMedecin}}</h2>
               <small style="margin-left: 14px;"> Specialité : {{ medecin.specialite.nom}}</small>
            </div>
         </div>
      </header>

      <main>
        <!-- tableau d'operations -->
        <div class="wrapper flex" *ngIf="service.testTabMedecins  !== 0 ; else tabVide">
         <div class="operations">
            <div class="card-header flex">
               <h3>Patients </h3>
               <div class="search-box">
                  <i class="uil uil-search"></i>
                  <input [(ngModel)]="texte"  type="text" placeholder="recherche ici ...">
               </div>
                <!--<div><img src="/assets/AdminDigital/assets/img/pdff.png" class="icon1" width="35px" height="35px"></div>
              button><i class="uil uil-plus-circle"  style="font-size: 24px;" (click)="openAddDepartementModal()"></i></button
               <button data-toggle="modal" data-target="#exampleModalCenter"><i class="icofont-ui-add"></i></button>-->
            </div>
      
            <table class="table" >
               <thead>
                 <tr>
                  <th scope="col">ID</th>
                   <th scope="col">Image</th>
                   <th scope="col">Nom Patient</th>
                   <th scope="col">Prénom Patient</th>
                   <th scope="col">Date de Naissance</th>
                   <th scope="col">Email</th>
                   <th scope="col">Télephone</th>
                  
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor ="let vous of patients | paginate: { itemsPerPage:6, currentPage: p } let i = index">
                   <th scope="row">
                     <ng-container *ngIf="i === 0; else otherIndex">{{ p * 6 - 5 }}</ng-container>
                     <ng-template #otherIndex>{{ p * 6 + i - 5 }}</ng-template></th>
                   <td>
                    <img  *ngIf="vous.image !== null" src="http://localhost:8281/patient/getImageProfilePatient/{{vous.id}}" width="30px" height="30px" >
                    <img  *ngIf="vous.image === null" src ={{imageParDefaut}} width="30px" height="30px" >
                   </td>
                   <td>{{ vous.nom }} </td>
                   <td>{{ vous.prenom }}</td>
                   <td>{{formatDate( vous.date_naissance )}} </td>
                   <td>{{ vous.email }} </td>
                   <td>{{ vous.telephone }}</td>   
                 </tr>
               </tbody>
             </table>
             <div class="pages">
               <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
         </div>
      </div>
      </main>
   </div>
</body>
</html>